.container {
    width: 80%;
    margin: 0 auto;
    border: 10px solid #0040ff;
    
    display: grid;
    grid-template-rows: 100px, 300px 100 px;
    grid-template-columns: 3fr ,1fr;
    grid-template-areas:
        'header header'
        'main aside'
        'footer footer'
}
.item {
    padding: 10px;
    background-color: #00a6ff;
    color: white;
    border: 10px solid #0040ff;

}
.item-1 {
    grid-area: header;
}
.item-2{
    grid-area: main;
}
.item-3{
  grid-area: aside;  
}
.item-4{
    grid-area: footer;
}

